<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer" /> 
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
		
	<form id="form">
	    <input type="text" id="message">
	    <button type="submit">Send</button>
	</form>
	
	<hr>
	
	<div id="output"></div>
	
	<script>
	    var inputBox = document.getElementById("message");
	    var output = document.getElementById("output");
	    var form = document.getElementById("form");
	    try {
	        var host = "ws://127.0.0.1:5678/";
	        console.log("Host:", host);
	        var s = new WebSocket(host);
	        s.onopen = function (e) {
	            console.log("Socket opened.");
	        };
	        s.onclose = function (e) {
	            console.log("Socket closed.");
	        };
	        s.onmessage = function (e) {
	            console.log("Socket message:", e.data);
	            var p = document.createElement("p");
	            p.innerHTML = e.data;
	            output.appendChild(p);
	        };
	        s.onerror = function (e) {
	            console.log("Socket error:", e);
	        };
	    } catch (ex) {
	        console.log("Socket exception:", ex);
	    }
	    form.addEventListener("submit", function (e) {
	        e.preventDefault();
	        s.send(inputBox.value);
	        inputBox.value = "";
	    }, false)
	</script>
		
	</div>
</body>
</html>